@import 'variables';
@import 'mixins';

/*Estilos para el Header*/

.header {
  /* Establece el diseño del encabezado usando Flexbox */
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-between; /* Espacia el contenido de forma equitativa entre los extremos */
  padding: 0 $spacing-small; /* Espaciado pequeño alrededor del encabezado */
  background-color: $neutral-color3; /* Color de fondo del encabezado */
  height: $header-height; /* Altura del encabezado */
  position: relative; /* Posicionamiento relativo para permitir el posicionamiento absoluto de elementos secundarios */

  /* Estilos del botón de menú para dispositivos pequeños */
  .menu-toggle {
    display: none; /* Inicialmente oculto, se muestra solo en pantallas pequeñas */
    flex-direction: column; /* Alineación vertical de las barras del menú */
    justify-content: space-between; /* Espaciado uniforme entre las barras */
    width: $menu-toggle-width; /* Ancho del botón de menú */
    height: $menu-toggle-height; /* Alto del botón de menú */
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el botón */

    /* Estilo para cada barra del menú hamburguesa */
    div {
      height: $menu-toggle-bar-height; /* Altura de las barras del menú */
      background-color: $black; /* Color de las barras */
      border-radius: $border-radius-small; /* Bordes redondeados */
      transition: all 0.3s ease; /* Transición suave para los cambios de estado */
    }
  }

  /* Estilo del logo del encabezado */
  .logo {
    height: $logo-height; /* Altura del logo */
    display: flex; /* Utiliza Flexbox para centrar el logo */
    justify-content: center; /* Centra el logo horizontalmente */
    margin: 0 auto; /* Centra el logo en el contenedor */
  }

  /* Estilo para el icono de perfil */
  .profile-icon {
    display: flex;
    align-items: center; /* Centra el icono verticalmente */
    justify-content: center; /* Centra el icono horizontalmente */
    width: $profile-icon-size; /* Ancho del icono */
    height: $profile-icon-size; /* Alto del icono */
    border-radius: 50%; /* Hace el icono redondo */
    transition: background-color 0.3s ease; /* Transición para el cambio de color de fondo en hover */

    &:hover {
      background-color: darken($neutral-color3, $hover-darken-percentage); /* Oscurece el fondo al pasar el mouse */
    }

    /* Estilo del ícono dentro del icono de perfil */
    i {
      font-size: $profile-icon-font-size; /* Tamaño del ícono */
      margin-right: 0; /* Elimina el margen derecho */
    }
  }

  .nav {
    display: flex; /* Muestra la barra de navegación como flexbox */
    gap: $nav-gap; /* Espaciado entre los elementos del menú */

    ul {
      display: flex; /* Los elementos de la lista están en fila */
      gap: $nav-gap; /* Espaciado entre los elementos de la lista */
      list-style: none; /* Elimina los puntos de la lista */

      li {
        a {
          text-decoration: none; /* Elimina el subrayado de los enlaces */
          color: $black; /* Color del texto del enlace */
          font-size: $font-size-nav; /* Tamaño de fuente del enlace */
          font-weight: $font-weight-medium; /* Peso de fuente del enlace */
          font-family: $primary-font-family; /* Fuente principal */

          &:hover {
            color: $secondary-color; /* Cambia el color al pasar el mouse */
          }
        }
      }
    }
  }

  /* Estilos para pantallas pequeñas, como tabletas */
  @media (max-width: map-get($breakpoints, 'tablet')) {
    .menu-toggle {
      display: flex; /* Muestra el botón de menú hamburguesa */
    }

    .nav {
      display: none; /* Oculta la barra de navegación por defecto */
      position: absolute; /* Posiciona la barra de navegación debajo del encabezado */
      top: $header-height; /* Ajusta la posición de la barra debajo del encabezado */
      left: $spacing-small; /* Alinea la barra de navegación a la izquierda */
      background-color: $neutral-color3; /* Color de fondo de la barra de navegación */
      flex-direction: column; /* Muestra los elementos del menú en columna */
      gap: $nav-small-gap; /* Espaciado reducido entre los elementos */
      width: $nav-mobile-width; /* Ancho del menú móvil */
      padding: $nav-mobile-padding; /* Espaciado alrededor de los elementos del menú */
      border-radius: $border-radius-medium; /* Bordes redondeados en la barra de navegación */
      box-shadow: $box-shadow; /* Sombra alrededor del menú */
      z-index: 1000; /* Asegura que el menú se muestre por encima de otros elementos */
      
      ul {
        flex-direction: column; /* Coloca los elementos del menú en columna */
        gap: $nav-small-gap; /* Espaciado entre los elementos de la lista */
        
        li {
          text-align: left; /* Alinea los enlaces a la izquierda */

          a {
            font-size: $font-size-nav-small; /* Tamaño de fuente más pequeño para enlaces */
            font-weight: $font-weight-semibold; /* Peso de fuente más grueso */
          }
        }
      }
    }
  }

  /* Estilos cuando el menú está activo (desplegado) */
  &.active-menu {
    .menu-toggle div:nth-child(1) {
      transform: rotate(45deg); /* Rota la primera barra del menú para formar una "X" */
      transform-origin: top left; /* Define el punto de origen para la rotación */
    }

    .menu-toggle div:nth-child(2) {
      opacity: 0; /* Hace invisible la barra del medio */
    }

    .menu-toggle div:nth-child(3) {
      transform: rotate(-45deg); /* Rota la tercera barra en la dirección opuesta */
      transform-origin: bottom left; /* Define el punto de origen para la rotación */
    }

    .nav {
      display: flex; /* Muestra el menú desplegado */
    }
  }
}
