/* Función para escalar el tamaño de la fuente según un factor dado */
@function scale-font-size($base-size, $factor) {
  @return $base-size * $factor; /* Retorna el tamaño base multiplicado por el factor */
}

@mixin responsive-background($image) {
  /* Fondo para pantallas pequeñas (mobile) */
  @media (max-width: map-get($breakpoints, 'mobile')) {
    background-image: url('../img/#{$image}-480px.avif'); /* AVIF */
    background-image: -webkit-image-set(url('../img/#{$image}-480px.avif') 1x, url('../img/#{$image}-480px.webp') 1x, url('../img/#{$image}-480px.jpg') 1x); /* Fallback a WebP y JPG */
  }

  /* Fondo para pantallas medianas (tablet) */
  @media (min-width: map-get($breakpoints, 'mobile')) and (max-width: map-get($breakpoints, 'tablet')) {
    background-image: url('../img/#{$image}-768px.avif'); /* AVIF */
    background-image: -webkit-image-set(url('../img/#{$image}-768px.avif') 1x, url('../img/#{$image}-768px.webp') 1x, url('../img/#{$image}-768px.jpg') 1x); /* Fallback a WebP y JPG */
  }

  /* Fondo para pantallas pequeñas grandes (small-screen) */
  @media (min-width: map-get($breakpoints, 'tablet')) and (max-width: map-get($breakpoints, 'small-screen')) {
    background-image: url('../img/#{$image}-1200px.avif'); /* AVIF */
    background-image: -webkit-image-set(url('../img/#{$image}-1200px.avif') 1x, url('../img/#{$image}-1200px.webp') 1x, url('../img/#{$image}-1200px.jpg') 1x); /* Fallback a WebP y JPG */
  }

  /* Fondo para pantallas estándar (standard-screen) */
  @media (min-width: map-get($breakpoints, 'small-screen')) and (max-width: map-get($breakpoints, 'standard-screen')) {
    background-image: url('../img/#{$image}-1920px.avif'); /* AVIF */
    background-image: -webkit-image-set(url('../img/#{$image}-1920px.avif') 1x, url('../img/#{$image}-1920px.webp') 1x, url('../img/#{$image}-1920px.jpg') 1x); /* Fallback a WebP y JPG */
  }

  /* Fondo para pantallas grandes (large-screen) */
  @media (min-width: map-get($breakpoints, 'standard-screen')) and (max-width: map-get($breakpoints, 'large-screen')) {
    background-image: url('../img/#{$image}-2560px.avif'); /* AVIF */
    background-image: -webkit-image-set(url('../img/#{$image}-2560px.avif') 1x, url('../img/#{$image}-2560px.webp') 1x, url('../img/#{$image}-2560px.jpg') 1x); /* Fallback a WebP y JPG */
  }

  /* Fondo para pantallas extra grandes (extra-large-screen) */
  @media (min-width: map-get($breakpoints, 'large-screen')) {
    background-image: url('../img/#{$image}-3820px.avif'); /* AVIF */
    background-image: -webkit-image-set(url('../img/#{$image}-3820px.avif') 1x, url('../img/#{$image}-3820px.webp') 1x, url('../img/#{$image}-3820px.jpg') 1x); /* Fallback a WebP y JPG */
  }
}
  




/* Mixin para ajustar el tamaño de la fuente de manera responsiva según el tamaño de la pantalla */
@mixin responsive-font-size($base-size, $scales) {
  /* Itera sobre cada tamaño de pantalla y su factor correspondiente */
  @each $breakpoint, $factor in $scales {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      font-size: scale-font-size($base-size, $factor); /* Aplica la función scale-font-size con el tamaño base y el factor */
    }
  }
}

/* Mixin para los estilos de los botones */
@mixin button-styles {
  display: flex; /* Usa Flexbox para centrar el contenido */
  align-items: center; /* Alinea los elementos verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  border: none; /* Elimina los bordes del botón */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
  font-weight: 500; /* Peso de la fuente del texto */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

// Mixin para botones reutilizables
@mixin button-style($bg-color, $text-color, $padding, $radius) {
  background-color: $bg-color;
  border: none;
  color: $text-color;
  padding: $padding;
  border-radius: $radius;
  cursor: pointer;

  &:hover {
    background-color: lighten($bg-color, $hover-darken-percentage);
  }
}



// Mixin para lista de entrenamiento
@mixin grid-list($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

// Mixin para el estilo de las tarjetas de logros
@mixin card-style {
  background-color: $neutral-color3;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px $black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@mixin button-style-training-tracking($bg-color, $text-color, $hover-color) {
  background-color: $bg-color;
  color: $text-color;
  //padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
      background-color: $hover-color;
  }
}

@mixin table-cell-style {
  padding: 0.75rem;
  border: 1px solid $main-color;
  text-align: left;
  background-color: $neutral-color3;
  font-size: 1rem;
  cursor: text;

  &:hover {
      background-color: $neutral-color2;
  }

  &:focus {
      outline: 2px solid $secondary-color;
      background-color: lighten($secondary-color, 40%);
  }
}

// Mixin para botones del carrusel
@mixin carousel-btn-style {
  color: $neutral-color3;
  border: none;
  background: none;
  padding: 1rem;
  font-size: $carousel-btn-size;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale($carousel-btn-hover-scale);
  }

  &:active {
    transform: scale($carousel-btn-active-scale);
  }
}

// Mixin para elementos del carrusel
@mixin carousel-item-style {
  flex: 0 0 auto;
  width: $carousel-item-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $carousel-item-gap;

  .image-wrapper {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      border-radius: $carousel-border-radius;
      display: block;
    }

    .carousel-text {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: $carousel-text-bg;
      color: $neutral-color3;
      font-size: $carousel-text-font-size;
      padding: $carousel-text-padding;
      text-align: center;
      border-bottom-left-radius: $carousel-border-radius;
      border-bottom-right-radius: $carousel-border-radius;
    }
  }
}


